# Packages unecessary in production
/vendor/bin/
/vendor/psr/
/vendor/
# Common ignores
/.idea/
composer.lock
.phpunit.result.cache
/applications/diceroller/writable/
/applications/diceroller/.env
/applications/findme/.env
/applications/findme/writable/*
/.settings/
.buildpath
.project