# Packages unecessary in production
/vendor/bin/
/vendor/psr/
/vendor/
# Common ignores
/.idea/
composer.lock
.phpunit.result.cache
/applications/diceroller/writable/
/applications/diceroller/.env
/applications/findme/.env
/applications/findme/writable/*
/applications/capturepokemon/.env
/applications/capturepokemon/writable/
/applications/capturepokemon/writable/*
/.settings/
.buildpath
.project
/sharetodo/.env
/applications/sharetodo/var/*
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
